<h2
  class="sticky-xl-top fw-bold pt-3 pt-xl-5 pb-2 pb-xl-3"
  style="background-color: pink; text-align: center"
>
  クイズ
</h2>

<h2
  class="sticky-xl-top fw-bold pt-3 pt-xl-5 pb-2 pb-xl-3"
  style="background-color: pink; text-align: center"
>
  成績
</h2>

<!-- <div style="display: flex">
  <div style="background-color: pink">クイズ</div>

  <div style="background-color: pink">成績</div>
</div> -->

<!-- <div style="width: 200px; height: 1500px">
  <h2 style="background-color: pink; text-align: center">クイズ</h2>
  <h2 style="background-color: pink; text-align: center">成績</h2>
</div> -->
